@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
    font-family: 'Caveat', cursive;
}
.voteFor {
    text-align: center;
    font-family: 'Caveat', cursive;
    border: 2px solid black;
    width: 80px;
}

.darkTheme{
    background-color: black;
    color: white;
}

.disabled{
    pointer-events: none;
}