@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

header {
    font-Size: 25px;
    text-align: center;
    padding-bottom: 5px;
    color: #0e3c7e;
    box-shadow: 0 5px gray;
    font-family: 'Caveat', cursive;
}
span {
    position: absolute;
    right: 5px;
    font-size: 12px;
    font-family: sans-serif;
    color: #000;
}