@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

h1 {
    font-family: 'Caveat', cursive;
    
}
p {
    margin-bottom: 5px;
    margin-top: 5px;
}
.Votes span{
    position: relative;
    left: 2px;
}

.choc {
    background-color:  #4f2c2c;
    height: 20px;
    width: 0;
}
.van {
    background-color: #cbc0ac;
    height: 20px;
    width: 0;
}
.straw {
    background-color: #de8c91;
    height: 20px;
    width: 0;
}