@media screen and (min-width: 480px){
    .App {
        position: relative;
    }
    .AdDesigner{
        margin-left: 20px;
        display: inline-block;    
        width: 50%;
    }
    .Votes {
        position: absolute;
        top: 40px;
        width: 50%;
        right: 0;
    }
}