@media screen and (min-width: 480px){
    .App {
        position: relative;
        font-family: sans-serif;
    }
    .AdDesigner{
        margin-left: 20px;
        position: absolute;
        width: 50%;
        left: 5px;
    }
    .Votes {
        position: absolute;
        top: 90px;
        width: 50%;
        right: 0;
    }
    .container {
       display: flex;
       justify-content: space-around;
       
    }
}